footer {
    font-weight:bold; color: darkblue;

    font-style: italic;
    }

header {font-weight:bold; color: darkblue;

    font-style: italic;
    text-decoration: underline}

    body {
    background-color: rgb(204, 230, 255);
}


