footer {
    font-weight:bold; color: darkblue;

    font-style: italic;
    }
h1 {font-family: 'Playfair Display', serif;
}

h3 {font-family: 'Playfair Display', serif;
  color: red;
}

header { color: darkblue;

    font-style: italic;
    }

    nav {
    background-color: rgb(204, 230, 255);
}

td :visited {color:red;
}

a :hover {color:darkslategray;
font-weight: bolder;
}

a {
text-decoration: none;
}

th {text-align: left}

#myTable
{
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

table-responsive {

  overflow-x: auto;

}